/*=========== GERAL =====================*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --ff: 'Roboto', sans-serif;
  --black: #323238;
  --bg-bt-hv: #02799d;
  --bg-bt: #e1e1e6;

  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  transition: all 400ms;
}

/*=========== NAVEGATION ===============*/
nav {
  position: absolute;
  right: 6rem;
  top: 6rem;
  cursor: pointer;
  height: 1rem;
}

/*============= MAIN ===================*/
main {
  min-height: 100vh;
  margin-bottom: 2rem;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: clamp(5rem, 10rem + 5vw, 20rem);
  flex-wrap: wrap;
}

/*======= PARTE ESQUERDA DA PAGINA =========*/
.left {
  display: grid;
}

.timer {
  justify-self: center;
  margin-bottom: 1rem;
}

.timer span {
  font-family: var(--ff);
  font-size: 12.6rem;
  line-height: 14.8rem;
}

.controls {
  display: flex;
  gap: 4rem;
  justify-self: center;
}

.hide {
  display: none;
}

.left button {
  background-color: transparent;
  border: none;
  cursor: pointer;

  transition: all 400ms;
}

.left button:hover {
  transform: scale(1.1);
}

.left svg:hover path {
  fill: var(--bg-bt-hv);
}

/*======= PARTE DIREITA DA PAGINA ======*/
.right {
  width: 31rem;
  display: grid;
  grid-template-areas:
    'A B'
    'C D';
  gap: 3.2rem;
}

.right button {
  background-color: var(--bg-bt);
  width: 13.8rem;
  height: 15.2rem;

  border: 0 none;
  border-radius: 2.4rem;
  cursor: pointer;
  transition: all 400ms;

  display: grid;
}

.right button svg {
  margin-top: -1.6rem;
}

.right button:hover {
  background-color: var(--bg-bt-hv);
  transform: scale(1.06);
}

.right svg:hover path {
  fill: white;
}

button.press {
  background-color: var(--bg-bt-hv);
}

.vol {
  position: absolute;
  bottom: 2.4rem;
  left: 50%;
  transform: translateX(-50%);
}

.add {
  fill: white;
}

/*======== styles input range =================*/

input {
  -webkit-appearance: none;
  cursor: pointer;
  width: 9rem;
  border-radius: 5rem;
}

input::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 1.6rem;
  width: 1.6rem;
  border-radius: 5rem;
  background: var(--black);
  margin-top: -4px;
}

input::-webkit-slider-runnable-track {
  height: 0.5rem;
  background: var(--black);
  border-radius: 5rem;
}

.card {
  position: relative;
}

.card:hover input::-webkit-slider-thumb,
.card:hover input::-webkit-slider-runnable-track,
.card.one.press input::-webkit-slider-thumb,
.card.one.press input::-webkit-slider-runnable-track,
.card.two.press input::-webkit-slider-thumb,
.card.two.press input::-webkit-slider-runnable-track,
.card.three.press input::-webkit-slider-thumb,
.card.three.press input::-webkit-slider-runnable-track,
.card.four.press input::-webkit-slider-thumb,
.card.four.press input::-webkit-slider-runnable-track {
  background-color: white;
}

/*========== MEDIA QUERYE =========*/
@media (max-width: 776px) {
  nav {
    position: initial;
    display: flex;
    justify-content: center;
    margin-top: 3rem;
  }
  main {
    gap: 1rem;
  }
}
/* Dark Mode*/

body.dark {
  background-color: #121214;
  color: white;
}

body.dark input::-webkit-slider-thumb,
body.dark input::-webkit-slider-runnable-track {
  background-color: white;
}

.left.dark svg path {
  fill: white;
}

.left.dark svg:hover path {
  fill: #0a3442;
}

.right .change.dark {
  fill: white;
}

.right.dark button {
  background-color: #29292e;
}

.right.dark button:hover,
.right.dark button.press {
  background-color: #0a3442;
}
